# **Statistical Learning – Data science - 2022/23 – Exercise 6 – 18/05/2023**


**Excersice 6: Analysis of Human Tumor Microarray dataset – unsupervised learning, clustering with k-means** \
Please, execute the following tasks and provide answers to the proposed questions.

1. Download the “14-cancer microarray data” from the book website https://web.stanford.edu/~hastie/ElemStatLearn/
Get information about the dataset in file 14cancer.info and in Chapter 1 (page 5) and
Chapter 14 (page 512) of the book (Hastie et al., 2009)
2. Generate a new Kernel SLDatascience_EX5_HumanTumorMicro_Clustering_Surname in Kaggle
3. Load the data in Kaggle \
• Use, for instance, the training set gene expression data \
• Load also the labels
4. Use the sklearn.cluster module to perform clustering analysis on the dataset. In particular,
repeat the analysis proposed in section 14.3.8 of the book (Hastie et al., 2009)\
• Preprocess data, if needed (e.g., if there are missing values then remove the related columns
and rows)\
• Start using K-means and then test some other clustering algorithms at your choice\
• Cluster the samples (i.e., columns). Each sample has a label (tumor type)\
• Do not use the labels in the learning phase but examine them posthoc to interpret the clusters\
• Run k-means with K from 2 to 10 and compare the clusterings in terms of within-sum of\
squares
• Show the chart of the performance depending on K\
• Select some K and analyze the clusters producing tables such as those displayed in the book\

**Information about the dataset in file 14cancer.info**:\
A gene expression dataset collects together the expression values from a series of DNA microarray experiments, with each column representing an experiment. 

14-cancer gene expression data including: 16,063 genes, 144 training samples, 54 test samples. 
One gene per row, one sample per column
Cancer classes are labelled as follows:
1.  breast
2.  prostate
3.  lung
4.  collerectal
5.  lymphoma
6.  bladder
7.  melanoma
8.  uterus
9.  leukemia
10. renal
11. pancreas
12. ovary
13. meso
14. cns

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/14cancermicroarraydata/14cancer_y.ytrain
/kaggle/input/14cancermicroarraydata/14cancer.info
/kaggle/input/14cancermicroarraydata/14cancer_x.xtrain

 ## Part 1: Exploring and preparing data <a class="anchor"  id="section2"></a>

In [2]:
# Reading the training dataset
x_train = pd.read_csv('/kaggle/input/14cancermicroarraydata/14cancer_x.xtrain',header=None,delim_whitespace= True)
y_train = pd.read_csv('/kaggle/input/14cancermicroarraydata/14cancer_y.ytrain',header=None,delim_whitespace= True)

In [3]:
#Dataset overview 
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16063 entries, 0 to 16062
Columns: 144 entries, 0 to 143
dtypes: float64(1), int64(143)
memory usage: 17.6 MB

In [4]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
0,-73,-16,4,-31,-33,-37,-18,-26,-40,22,...,274,-96,-96,-124,-201,-196,34,-56,-245,-26
1,-69,-63,-45,-110,-39,-90,28,-23,-264,-14,...,-915,-221,-458,-664,-259,-369,-81,-818,-235,-1595
2,-48,-97,-112,-20,-45,-75,10,2,-335,-21,...,-303,-119,-134,-361,22,-263,-146,-1338,-127,-2085
3,13,-42,-25,-50,14,-46,30,34,18,26,...,29,243,109,21,140,162,-151,-57,197,-334
4,-86,-91,-85,-115,-56,-45,-56,-54,-163,-42,...,-171,-224,-630,-519,-277,-277,-174,-989,-562,-455

In [5]:
y_train.head()

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
0,1,1,1,1,1,1,1,1,2,2,...,14,14,14,14,14,14,14,14,14,14

In [6]:
# Check the null values in x_train, y_train
[x_train.isnull().sum().sum(),y_train.isnull().sum().sum()]

[0, 0]

 ## Part 2: Cluster analysis <a class="anchor"  id="section2"></a>

### Start using K-means and then test some other clustering algorithms at your choice <a class="anchor"  id="subsection2"></a>